---
layout: default
title: "About"
background_image: "/assets/images/art/bg5.webp"
---

{% include layouts/nav/nav-1.html drop_search=true alignment_class="ms-auto" %}
{% include layouts/header/page-title.html %}


<div class="container my-5">
  <div class="d-flex flex-column align-items-center">
    <img src="/assets/images/about/1.png" alt="image1" class="img-fluid mb-4" style="height: 700px; object-fit: cover;">
    <img src="/assets/images/about/2.png" alt="image2" class="img-fluid mb-4" style="height: 700px; object-fit: cover;">
    <img src="/assets/images/about/3.png" alt="image3" class="img-fluid mb-4" style="height: 700px; object-fit: cover;">
    <img src="/assets/images/about/4.png" alt="image4" class="img-fluid mb-4" style="height: 700px; object-fit: cover;">
  </div>
</div>




{% include layouts/footer/footer-3.html %}