{%- assign _layout = include.layout | default: 'cards' -%}


<!-- Team Wrapper -->
  <div class="container inner">
    <h2 class="title-color color-gray text-center">{{ include.title }}</h2>
    <h3 class="display-3 text-center">{{ include.sub_title }}</h3>
    <div class="space40"></div>

    {%- if _layout == 'table' -%}
      {% include components/team/teams-table.html 
         data=include.data 
         enable_search=include.enable_search 
      %}

    {%- elsif _layout == 'list' -%}
      {% include components/team/teams-list.html 
         data=include.data 
         enable_search=include.enable_search 
      %}

    {%- else -%}
      <div class="grid-view">
        {% include components/team/teams-carousel.html data=include.data %}
      </div>
    {%- endif -%}

  </div>
<!-- /.Team Wrapper -->