---
layout: default
title: "Researchers"
sub_title: "Researchers and Affiliated Researchers "
background_image: "/assets/images/art/bg6.webp"

teams_carousel_researcher:
  enable: true
  title: Our Research Group
  sub_title: |
    Researchers (MAIK)

teams_carousel_staff:
  enable: true
  data_source: Staff
  title: Our Research Group
  sub_title: |
    Staff at MAIK


teams_table_researcher:
  enable: true
  title: Our Research Group
  sub_title: |
    Affiliated Researchers (KITECH)


teams_list_researcher:
  enable: true
  sub_title: |
    Research Collaborators




---
{% include layouts/nav/nav-1.html drop_search=true alignment_class="ms-auto" %}
{% include layouts/header/page-title.html %}

<!-- wrapper team members-->
{% if page.teams_carousel_researcher.enable %}
<div class="wrapper light-wrapper">
  {% include components/team/team-members.html 
    data=site.data.team_carousel.researchers  
    title=page.teams_carousel_researcher.title 
    sub_title=page.teams_carousel_researcher.sub_title 
  %}
  {% endif %}
    {% if page.teams_carousel_researcher.enable %}

    {% include components/team/team-members.html 
      data=site.data.team_carousel.staff  
      title=page.teams_carousel_staff.title 
      sub_title=page.teams_carousel_staff.sub_title 
    %}
  {% endif %}

</div>

<div class="wrapper gray-wrapper">
  {% if page.teams_table_researcher.enable %}
    {% include components/team/team-members.html
      data=site.data.affiliates          
      title=page.teams_table_researcher.title 
      sub_title=page.teams_table_researcher.sub_title 
      layout='table'                              
      enable_search=true
    %}
  {% endif %}
</div>

<div class="wrapper light-wrapper">
  {% if page.teams_list_researcher.enable %}
    {% include components/team/team-members.html
      layout='list'
      sub_title="Research Collaborators"
      data=site.data.collaborators  
    %}
  {% endif %}
</div>


<!--/.footer Wrapper-->
{% include layouts/footer/footer-3.html %}